@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pb-primary: #1f5a4f;
  --pb-accent: #f37483;
  --pb-light: #f2fafd;
  --pb-dark: #0e2a26;
  --pb-text: #111827;
}

/* чтобы фон тянулся на всю высоту */
html,
body,
#root {
  min-height: 100%;
}

/* Глобальный фон сайта */
body {
  background: radial-gradient(
      1200px 600px at 100% -10%,
      rgba(var(--pb-accent), 0.08) 0%,
      rgba(var(--pb-accent), 0) 60%
    ),
    radial-gradient(
      1000px 500px at -10% 0%,
      rgba(var(--pb-blue), 0.12) 0%,
      rgba(var(--pb-blue), 0) 60%
    ),
    var(--pb-light);
}
